@keyframes custom-dialog-enter {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes custom-dialog-center-enter {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
