* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #1a0e04;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f3ef;
}

.text-light {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: #6b7280;
  font-weight: 400;
}

mat-icon.mat-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.scrollbar-primary {
  overflow: auto;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: rgba(110, 71, 30, 0.8);
  border-radius: 0.5rem;
}

.scrollbar-primary::-webkit-scrollbar-thumb:hover {
  background-color: #6e471e;
}

.scrollbar-primary::-webkit-scrollbar-thumb:active {
  background-color: #6e471e;
}

.scrollbar-primary::-webkit-scrollbar-track {
  background-color: rgba(110, 71, 30, 0.2);
  border-radius: 0.5rem;
}

.scrollbar-primary::-webkit-scrollbar-track:hover,
.scrollbar-primary::-webkit-scrollbar-track:active {
  background-color: rgba(110, 71, 30, 0.1);
}