@import "tailwindcss";

@theme {
  /* Green palette */
  --color-green-50: #ecfdf6;
  --color-green-100: #d1fae8;
  --color-green-200: #a8f2d5;
  --color-green-300: #6fe6c0;
  --color-green-400: #4ad6ad;
  --color-green-500: #12b78c;
  --color-green-600: #069572;
  --color-green-700: #05775e;
  --color-green-800: #075e4c;
  --color-green-900: #074d40;
  --color-green-950: #022c25;

  /* Yellow palette */
  --color-yellow-50: #ffffe7;
  --color-yellow-100: #fdffc1;
  --color-yellow-200: #ffff86;
  --color-yellow-300: #fff741;
  --color-yellow-400: #ffe90d;
  --color-yellow-500: #ffda00;
  --color-yellow-600: #d1a100;
  --color-yellow-700: #a67302;
  --color-yellow-800: #89590a;
  --color-yellow-900: #74490f;
  --color-yellow-950: #442604;

  /* Cinder palette */
  --color-cinder-50: #f5f6fa;
  --color-cinder-100: #e9ebf5;
  --color-cinder-200: #cfd4e8;
  --color-cinder-300: #a5b1d4;
  --color-cinder-400: #7487bc;
  --color-cinder-500: #5368a4;
  --color-cinder-600: #405089;
  --color-cinder-700: #344170;
  --color-cinder-800: #2e385e;
  --color-cinder-900: #1b1f32;
  --color-cinder-950: #0e101a;

  /* Neutral palette */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #e7e7e7;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6d6d6d;
  --color-neutral-600: #5d5d5d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #1c1c1c;

  /* Blue palette */
  --color-blue-50: #edf9ff;
  --color-blue-100: #d6f0ff;
  --color-blue-200: #b5e7ff;
  --color-blue-300: #83d9ff;
  --color-blue-400: #48c2ff;
  --color-blue-500: #1ea1ff;
  --color-blue-600: #0682ff;
  --color-blue-700: #006eff;
  --color-blue-800: #0854c5;
  --color-blue-900: #0d4a9b;
  --color-blue-950: #0e2d5d;

  /* Fiord palette */
  --color-fiord-50: #f6f7f9;
  --color-fiord-100: #eceef2;
  --color-fiord-200: #d6d9e1;
  --color-fiord-300: #b1b8c8;
  --color-fiord-400: #8792a9;
  --color-fiord-500: #68748f;
  --color-fiord-600: #535d76;
  --color-fiord-700: #485066;
  --color-fiord-800: #3b4151;
  --color-fiord-900: #343846;
  --color-fiord-950: #23262e;

  /* Error palette */
  --color-error-50: #fef2f2;
  --color-error-100: #ffe1e1;
  --color-error-200: #ffc9c9;
  --color-error-300: #fea3a3;
  --color-error-400: #fb6e6e;
  --color-error-500: #f34040;
  --color-error-600: #e02424;
  --color-error-700: #bc1919;
  --color-error-800: #9c1818;
  --color-error-900: #811b1b;
  --color-error-950: #460909;

  /* Success palette */
  --color-success-50: #ecfdf4;
  --color-success-100: #d1fae4;
  --color-success-200: #a8f2ce;
  --color-success-300: #6fe6b3;
  --color-success-400: #35d294;
  --color-success-500: #11b87c;
  --color-success-600: #069564;
  --color-success-700: #057a55;
  --color-success-800: #075e43;
  --color-success-900: #074d39;
  --color-success-950: #022c21;

  /* Brand palette */
  --color-brand-25: #fcfaff;
  --color-brand-50: #f9f5ff;
  --color-brand-100: #f4ebff;
  --color-brand-200: #e9d7fe;
  --color-brand-300: #d6bbfb;
  --color-brand-400: #b692f6;
  --color-brand-500: #9e77ed;
  --color-brand-600: #7f56d9;
  --color-brand-700: #6941c6;
  --color-brand-800: #53389e;
  --color-brand-900: #42307d;

  /* Neon palette */
  --color-neon-50: #fff7ed;
  --color-neon-100: #ffeed4;
  --color-neon-200: #ffd8a8;
  --color-neon-300: #ffbc71;
  --color-neon-400: #ff963a;
  --color-neon-500: #fe7611;
  --color-neon-600: #ef5b07;
  --color-neon-700: #c64208;
  --color-neon-800: #9d350f;
  --color-neon-900: #7e2e10;
  --color-neon-950: #441406;

  /* Brown palette */
  --color-brown-50: #f7f3ef;
  --color-brown-100: #e9dbce;
  --color-brown-200: #d2bfa3;
  --color-brown-300: #b99a6c;
  --color-brown-400: #a1784a;
  --color-brown-500: #895c2a;
  --color-brown-600: #6e471e;
  --color-brown-700: #573716;
  --color-brown-800: #422a10;
  --color-brown-900: #2e1c09;
  --color-brown-950: #1a0e04;
}